<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">



    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@style/Theme.HideApk">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="rxmodule"
            android:value="true" />
        <meta-data
            android:name="rxposed_support"
            android:value="true" />
        <meta-data
            android:name="rxposed_clsentry"
            android:value="com.hepta.adirf.LoadEntry" />
        <meta-data
            android:name="rxposed_mtdentry"
            android:value="Entry" />
        <meta-data
            android:name="rxposed_argument"
            android:value="Entry" />

    </application>


</manifest>